#planet API config

#!!rename this file to config.toml when finished!!

[general]
project_name = 'YourProjectName'

[api]
planet_api_key = "mykey1234xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
item_type = "PSScene"
image_type = "ortho_analytic_4b_sr"

[filters]
mask = "my_aoi.geojson"
max_cloud = 0.1
start_date = "2019-07-01"
end_date = "2019-07-31"